#file-system {
    grid-row: 3 / 5;
    grid-column: 1 / 6;
}

.window {
    display: flex;
    flex-direction: column;
}

.window .title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: bold;
    background-color: var(--secondColor);
    color: var(--mainColor);
    margin-top: 25px;
    width: fit-content;
}

#window .main img:not(.icon) {
    width: 100%;
}

.window .title.full {
    width: auto;
}

.window .close {
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    border: 1px solid var(--secondColor);
    border-radius: 5px;
    cursor: pointer!important;
}

.window .close img {
    width: 1.5em;
    margin: 0.25em;
}

.window .name {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.75em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#window .window .name {
    cursor: grab;
}

#window .window .name:active {
    cursor: grabbing;
}

.window span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#window .window:not(.display) {
    display: none;
}

#window .window.large {
    width: 60vw;
    height: 50vh;
}

#window .window.medium.hd {
    width: calc(20vw * 1.920);
    height: calc(20vw * 1.080 + 130px);
    max-height: 60vh;
}

#window .window.small.square {
    width: 40vh;
    height: calc(40vh + 3em);
}

.window .title.full .name:hover span {
    text-overflow: clip;
    animation-name: scroll-text;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    overflow: unset;
}

.window .main {
    height: 100%;
    border: 1px solid var(--secondColor);
    border-width: 1px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.file-holder {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
}

.file-holder .file {
    margin-right: 10px;
}

.file {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    user-select: none;
    cursor: pointer;
    max-width: 5em;
}

.file .icon {
    pointer-events: none;
    width: 60px;
    margin: 0 auto;
}

.file .name {
    pointer-events: none;
    margin-top: 5px;
    padding: 2px;
    font-weight: 100;
    font-family: 'Barracuda';
    border-radius: 5px;
    font-size: 1em;
    display: block;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
}

.file.selected .name {
    -webkit-line-clamp: unset;
}

.file.selected {
    background-color: rgba(255, 248, 223, 0.2);
    border-radius: 5px;
    font-weight: 500;
}

#clock {
    font-size: 4em;
    grid-row: 2;
    grid-column: 1;
}

#globe {
    grid-row: 2 / 4;
    grid-column: 7 / 9;
    position: relative;
    padding: 20px 0;
}

#globe .text {
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: lighter;
}

#header {
    grid-row: 1;
    grid-column: 1 / 9;
    border: 1px solid var(--secondColor);
    border-width: 1px 0;
}

#chart {
    display: flex;
    margin-top: 20px;
    grid-row: 4;
    grid-column: 7 / 9;
}

#chart .collumn {
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

#chart .value {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1em;
}

#chart .bar-holder {
    height: calc(100% - 2em - 15px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chart .collumn .bar {
    width: 90%;
    height: 0%;
    margin: 0 auto;
    background-size: 100% 8px;
    background-image: linear-gradient(to bottom, var(--secondColor) 1px, transparent 1px);
    transition: height 1.5s;
}

#chart .description {
    text-align: center;
    margin: 10px auto 0 auto;
    line-height: 1em;
}


/*#title {
    grid-row: 2;
    grid-column: 1 / 6;
    padding: 20px 0;
}

#title .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#title svg {
    fill: var(--secondColor);
    max-height: 40%;
}

#title svg:not(:last-child) {
    padding-right: 100px;
}*/

#window {
    display: contents;
    z-index: 1;
}

#window .main {
    background-color: rgba(10, 10, 10, 0.9);
    background-size: 20px 20px;
    background-image: radial-gradient(circle, var(--secondColorOpacity) 1px, rgba(0, 0, 0, 0) 1px);
    border-width: 1px;
    overflow: hidden auto;
}

#window .window {
    min-width: 20vw;
    filter: drop-shadow(0 0 0.75rem rgba(10, 10, 10, 0.8));
}

#window .title {
    margin: 0;
}

#window .content {
    font-family: 'GeomanistRegular';
    font-size: 1.25em;
    padding: 20px;
    line-height: 1.6rem;
    width: calc(100% - 40px);
}