#file-system {
    grid-row: 3 / 5;
    grid-column: 1 / 6;
}

.window {
    display: flex;
    flex-direction: column;
}

.window .title {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1.5em;
    height: 2.5em;
    width: fit-content;
    background-color: var(--secondColor);
    color: var(--mainColor);
    margin-top: 25px;
}

.window .main {
    height: -webkit-fill-available;
    border: 1px solid var(--secondColor);
    border-width: 1px 0;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.file {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    user-select: none;
    cursor: pointer;
}

.file .icon {
    pointer-events: none;
    width: 4em;
}

.file .name {
    pointer-events: none;
    margin-top: 5px;
    padding: 2px;
    font-weight: 100;
    font-family: 'Barracuda';
    text-align: center;
    border-radius: 5px;
}

.file.selected {
    background-color: rgba(255, 248, 223, 0.2);
    border-radius: 5px;
    font-weight: 500;
}

#clock {
    font-size: 4em;
    grid-row: 2;
    grid-column: 1;
}

#globe {
    grid-row: 2 / 4;
    grid-column: 7 / 9;
    position: relative;
    padding: 20px 0;
}

#globe .text {
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: lighter;
}

#header {
    grid-row: 1;
    grid-column: 1 / 9;
    border: 1px solid var(--secondColor);
    border-width: 1px 0;
}

#chart {
    display: flex;
    margin-top: 20px;
    grid-row: 4;
    grid-column: 7 / 9;
}

#chart .collumn {
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

#chart .value {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1em;
}

#chart .bar-holder {
    height: calc(100% - 2em - 15px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chart .collumn .bar {
    width: 90%;
    height: 0%;
    margin: 0 auto;
    background-size: 100% 8px;
    background-image: linear-gradient(to bottom, var(--secondColor) 1px, transparent 1px);
    transition: height 1.5s;
}

#chart .description {
    text-align: center;
    margin: 10px auto 0 auto;
    line-height: 1em;
}


/*#title {
    grid-row: 2;
    grid-column: 1 / 6;
    padding: 20px 0;
}

#title .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#title svg {
    fill: var(--secondColor);
    max-height: 40%;
}

#title svg:not(:last-child) {
    padding-right: 100px;
}*/

#window {
    position: absolute;
}

#window .main {
    background-color: rgba(10, 10, 10, 0.8);
    background-size: 20px 20px;
    background-image: radial-gradient(circle, var(--secondColorOpacity) 1px, rgba(0, 0, 0, 0) 1px);
    border-width: 1px;
}

#window .title {
    margin: 0;
}