:root {
    --mainColor: #111;
    --secondColor: #fff8df;
    --secondColorOpacity: rgba(255, 248, 223, 0.1);
}

@font-face {
    font-family: 'BarracudaLight';
    src: url('../fonts/Barracuda-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Raptor';
    src: url('../fonts/Raptor.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: var(--secondColor);
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    color: var(--secondColor);
    font-family: 'BarracudaLight';
    overflow: hidden;
}

main {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 10% 30% 30% 30%;
    position: absolute;
    background-color: var(--mainColor);
    background-repeat: repeat;
    background-size: 1em 1em;
    height: calc(100% - 44px);
    width: calc(100% - 44px);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow: hidden;
}

canvas {
    pointer-events: none;
    z-index: 1;
    top: 0;
    left: 0;
}